.intro {
  background: url("../../assets/images/background-dark.png") center / cover no-repeat;
  padding: 21rem 0 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inner {
  margin: auto;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 5.2rem;
    font-weight: 300;
    margin-top: 0;
    color: var(--foreground-common-light);
  }
  & > * {
    margin-top: 2rem;
  }
  .search {
    margin-top: 4.5rem;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  p {
    font-size: 1.6rem;
    word-spacing: 0.1rem;
    color: var(--foreground-common);
    letter-spacing: .07rem;
    white-space: nowrap;
    &:first-child {
      margin-right: 6rem;
    }
    span {
      margin-left: 1rem;
    }
  }
}

.search {
  background: var(--background-dark);
  box-shadow: 0 0 2rem .2rem rgba(255,255,255,0.05);
  width: 35rem;
  height: 7rem;
  border-radius: 5rem;
  padding: 2.5rem 3rem;
  display: flex;
  align-items: center;
  cursor: text;
  svg {
    height: 2.2rem;
    fill: var(--foreground-common)
  }
  p {
    color: var(--foreground-common);
    font-size: 2rem;
    margin-left: 2rem;
  }
}
